body {
    background-color: white;
    }
    
    .top-nav {
        width: 100%;
        height: 50px;
        background-color: rgb(30, 30, 30);
        display: flex;
        flex-wrap: wrap;
        color: darkgray;
        font-size: 1em;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    
    .top-nav li {
        padding: 0.75em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .mid-nav {
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        color: darkgray;
        font-size: 1em;
        justify-content: right;
        align-items: center;
        list-style-type: none;
    }
    
    .mid-nav li {
        padding: 1em;
    }
    
    .ipad-background {
        width: 50%;
        margin:50px;
    }
    
    main {
        display: flex;
    }
    
    .ipad-quote {
        margin-right: 20em;
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        align-self: center;
    }
    
    .main-ipad {
        color: black;
        font-size: 2em;
        margin: 0%;
        text-align: center;
    }
    
    .quote-lines {
        font-size: 4em;
        margin: 0%;
    }
    
    .quote-footer {
        color: black;
        font-size: 2em;
        text-align: center;
    }